.container
  font-family Helvetica, sans-serif
  white-space nowrap

.city
  position relative
  display inline-block
  vertical-align top
  white-space normal
  border-right 1px solid #333
  padding-right 80px

.statesPanel
  position relative
  display inline-block
  vertical-align top
  margin-left 45px

.configsContainer
  display block
  margin-top 14px
  height 75px

.addBorder
  padding 0px 14px
  margin 0 !important
  width 200px !important

.controlPanel
  height 120px
  padding-bottom 10px
  margin 20px 10px
  border-bottom 1px solid #aaa

.panelButton
  position relative
  display inline-block !important
  vertical-align middle
  margin 0px 8px
