.container
  font-family Helvetica, sans-serif
  white-space nowrap

.city
  position relative
  display inline-block
  vertical-align top
  white-space normal
  border-right 1px solid #333
  padding-right 80px

.statesPanel
  position relative
  display inline-block
  vertical-align top
  margin-left 45px

.configsContainer
  display block
  margin-top 20px

.addBorder
  border-left 1px solid #333
  border-right 1px solid #333
  padding 0px 14px
  width 200px !important

.controlPanel
  height 120px
  margin 10px
  padding-bottom 12px
  margin-bottom 20px
  border-bottom 1px solid #aaa

.panelButton
  position relative
  display inline-block !important
  vertical-align middle
  margin 0px 8px
