.container
  display inline-block
  text-align center
  vertical-align top
  margin 0px 14px
  margin-top 1px
  width 220px

.label
  font-size 14px

.slider > div
  margin 0px !important
  margin-top 6px !important