.container
  position relative

.labelValue
  text-align center
  display inline-block
  vertical-align top
  margin-bottom 12px
  height 32px
  line-height 32px
  padding 4px 12px
  background-color #009688
  color white
  font-weight bold
  border-radius 3px

.label
  margin-right 6px
  width 260px

.value
  width 80px